node_modules/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

git config --local user.name "GuilhermeBoeira"
git config --local user.email "guilherme_b_damasio@estudante.sesisenai.org.br"

